html {
    font-size: 15px;
}

.container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.card-container {
    margin: 1rem 0;
}

.card {
    margin: 0.25rem 0;
}

.card-title {
    font-size: 1.5rem;
}

.info-text {
    margin: 0.5rem 0 0.5rem 0;
}

.difficulty-indicator {
    padding: 0;
    margin: 0;
    text-align: right;
}